<section class="form-section">
    <div class="text">
        <h3>
            Fique por dentro de tendências
        </h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod cum officia reprehenderit praesentium provident animi accusamus ea illo odit id, placeat blanditiis quibusdam neque distinctio laboriosam impedit. Mollitia, corrupti voluptates.</p>
    </div>
    <form>
        <label>Nome</label>
        <input id="name"/>
        <label form="email">Email</label>
        <input id="email"/>
        <app-btn-primary></app-btn-primary>
    </form>
</section>